@media all and (min-width: 1000px) {
  .Rules {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row; } }
@media all and (max-width: 999px) {
  .Rules {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px; } }

@media all and (min-width: 600px) {
  .modal-content {
    margin: auto;
    border-radius: 10px;
    padding: 20px; }
    .modal-content-head {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row; }

  .Score {
    width: 500px; }
    .Score-points {
      padding: 5px 15px; }
      .Score-points p:not(.Score-points-text) {
        font-size: 2em; }

  .Choice-rock {
    margin: 35px;
    border-radius: 50%;
    background-color: white;
    border: 15px #dc2e4e solid;
    width: 100px;
    height: 100px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-rock img {
      width: 49px; }
  .Choice-paper {
    margin: 35px;
    border-radius: 50%;
    background-color: white;
    border: 15px #4865f4 solid;
    width: 100px;
    height: 100px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-paper img {
      width: 49px; }
  .Choice-scissors {
    margin: 35px;
    border-radius: 50%;
    background-color: white;
    border: 15px #ec9e0e solid;
    width: 100px;
    height: 100px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-scissors img {
      width: 49px; }

  .StartZone {
    width: 450px; } }
@media all and (max-width: 599px) and (min-width: 450px) {
  .modal-content {
    margin: 0;
    padding: 25px 100px 0px;
    width: 100%;
    height: 100%; }
    .modal-content-head {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row; }
    .modal-content-rules {
      width: 280px; }

  .Score {
    font-size: 0.8em;
    width: 350px; }
    .Score-points {
      padding: 5px 10px; }
      .Score-points p:not(.Score-points-text) {
        font-size: 2em; }
    .Score img {
      width: 122px; }

  .Choice-rock {
    margin: 25px;
    border-radius: 50%;
    background-color: white;
    border: 10px #dc2e4e solid;
    width: 80px;
    height: 80px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-rock img {
      width: 29px; }
  .Choice-paper {
    margin: 25px;
    border-radius: 50%;
    background-color: white;
    border: 10px #4865f4 solid;
    width: 80px;
    height: 80px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-paper img {
      width: 29px; }
  .Choice-scissors {
    margin: 25px;
    border-radius: 50%;
    background-color: white;
    border: 10px #ec9e0e solid;
    width: 80px;
    height: 80px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-scissors img {
      width: 29px; }

  .StartZone {
    width: 400px;
    background-size: 205px; } }
@media all and (max-width: 449px) and (min-width: 340px) {
  .modal-content {
    margin: 0;
    padding: 10px 50px 0px;
    width: 100%;
    height: 100%; }
    .modal-content-head {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row; }
    .modal-content-rules {
      width: 230px; }

  .Score {
    font-size: 0.6em;
    width: 240px; }
    .Score-points {
      padding: 5px 8px; }
      .Score-points p:not(.Score-points-text) {
        font-size: 1.5em; }
    .Score img {
      width: 82px; }

  .Choice-rock {
    margin: 35px;
    border-radius: 50%;
    background-color: white;
    border: 10px #dc2e4e solid;
    width: 70px;
    height: 70px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-rock img {
      width: 29px; }
  .Choice-paper {
    margin: 35px;
    border-radius: 50%;
    background-color: white;
    border: 10px #4865f4 solid;
    width: 70px;
    height: 70px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-paper img {
      width: 29px; }
  .Choice-scissors {
    margin: 35px;
    border-radius: 50%;
    background-color: white;
    border: 10px #ec9e0e solid;
    width: 70px;
    height: 70px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-scissors img {
      width: 29px; }

  .StartZone {
    width: 340px;
    background-size: 205px; } }
@media all and (max-width: 339px) {
  .modal-content {
    margin: 0;
    padding: 15px 20px 0px;
    width: 100%;
    height: 100%; }
    .modal-content-head {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row; }
    .modal-content-rules {
      width: 190px; }

  .Score {
    font-size: 0.6em;
    width: 240px; }
    .Score-points {
      padding: 5px 8px; }
      .Score-points p:not(.Score-points-text) {
        font-size: 1.5em; }
    .Score img {
      width: 82px; }

  .Choice-rock {
    margin: 25px;
    border-radius: 50%;
    background-color: white;
    border: 8px #dc2e4e solid;
    width: 60px;
    height: 60px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-rock img {
      width: 24px; }
  .Choice-paper {
    margin: 25px;
    border-radius: 50%;
    background-color: white;
    border: 8px #4865f4 solid;
    width: 60px;
    height: 60px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-paper img {
      width: 24px; }
  .Choice-scissors {
    margin: 25px;
    border-radius: 50%;
    background-color: white;
    border: 8px #ec9e0e solid;
    width: 60px;
    height: 60px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .Choice-scissors img {
      width: 24px; }

  .StartZone {
    background-size: 165px; } }
* {
  margin: 0;
  padding: 0; }

.App {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px; }

.Rules {
  margin: 0px 25px 16px; }

.Rules-btn {
  padding: 10px 40px;
  background-color: #141539;
  color: white;
  text-transform: uppercase;
  border: 1.6px rgba(255, 255, 255, 0.767) solid;
  border-radius: 10px;
  letter-spacing: 2px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    color: #3b4363;
    font-weight: 700; }
    .modal-content-head-close {
      cursor: pointer; }
    .modal-content .modal-content-head {
      margin-top: 5px;
      width: 100%;
      flex: 0.3; }
    .modal-content .modal-content-rules {
      display: block;
      margin: 0 auto; }

.Score {
  border: 2px #606e85 solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 35px auto;
  margin-bottom: 0;
  padding: 10px; }

.Score-points {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .Score-points-text {
    letter-spacing: 2px;
    font-stretch: condensed; }
  .Score-points p {
    color: #2a46c0; }
    .Score-points p:not(.Score-points-text) {
      color: #3b4363;
      font-size: 2em;
      font-weight: 700; }

.StartZone {
  background-image: url(../images/bg-triangle.svg);
  background-clip: padding-box;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

.PlayZone {
  margin-left: auto;
  margin-right: auto;
  width: 740px;
  height: 400px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; }
  .PlayZone .Choice-rock {
    margin: 35px;
    border-radius: 50%;
    background-color: white;
    border: 20px #dc2e4e solid;
    width: 150px;
    height: 150px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .PlayZone .Choice-rock img {
      width: 49px; }
  .PlayZone .Choice-paper {
    margin: 35px;
    border-radius: 50%;
    background-color: white;
    border: 20px #4865f4 solid;
    width: 150px;
    height: 150px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .PlayZone .Choice-paper img {
      width: 49px; }
  .PlayZone .Choice-scissors {
    margin: 35px;
    border-radius: 50%;
    background-color: white;
    border: 20px #ec9e0e solid;
    width: 150px;
    height: 150px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .PlayZone .Choice-scissors img {
      width: 49px; }
  .PlayZone .Choice-none {
    margin: 35px;
    border-radius: 50%;
    background-color: black;
    opacity: .3;
    width: 150px;
    height: 150px;
    display: flex;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center; }
    .PlayZone .Choice-none img {
      width: 49px; }

.your-choice, .computer-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.Result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2em;
  font-weight: 700; }
  .Result-header {
    margin-bottom: 20px; }
  .Result button {
    padding: 10px 40px;
    background-color: white;
    border: 1.6px rgba(255, 255, 255, 0.767) solid;
    color: #3b4363;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-stretch: condensed;
    letter-spacing: 2px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); }

.Timer {
  font-size: 2em; }

.attribution {
  font-size: 0.5em;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

/*# sourceMappingURL=style.css.map */
