$scissors-color: hsl(39, 89%, 49%);
$paper-color: hsl(230, 89%, 62%);
$rock-color: hsl(349, 71%, 52%);
$dark-text: hsl(229, 25%, 31%);

$size-1: 100px;
$size-2: 150px;
$border-1: 15px;
$border-2: 20px;